<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Từ khóa</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        aria-describedby="emailHelp"
        placeholder="Nhập từ khóa..."
      />
    </div>

    <div class="form-group">
      <label for="gender-input">Từ khóa</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="">-- chọn giới tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>